@import "./base.css";
@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.css";

@theme {
  --color-secondaire: #d77205;
  --color-search: #f2f2f2;
  --color-iconeSearch: #a7b5be;
}
